@import '../../assets/css/colors.scss';

.InformationSection{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 120px;

    &__content{
        width: 100%;
        max-width: 1200px;

        padding: 0 100px;
        box-sizing: border-box;
        transition: all .4s;

        display: grid;
        grid-template-areas: "img title" "img text";
        grid-column-gap: 50px;

        &__title{
            grid-area: title;
            font-weight: bolder;
            font-size: 25px;
            color: $black;

            margin: auto;
            margin-bottom: 10px;
            margin-left: 30px;
        }

        &__text{
            grid-area: text;
            font-family: 'Open Sans', sans-serif;
            color: $black;
            max-width: 450px;
            margin: auto;
            margin-top: 0;
            margin-left: 30px;
        }

        &__img{
            grid-area: img;
            width: 100%;
            min-width: 250px;
            max-width: 380px;
            margin: auto;


            img{
                width: 100%;
            }
        }
    }
}

.InformationSection-right{
    .InformationSection__content{
        grid-template-areas: "title img" "text img" !important;
    }
}

@media only screen and (max-width: 850px){
    .InformationSection{

        &__content{
            padding: 0 20px;
            grid-column-gap: 0px;
            grid-row-gap: 40px;

            grid-template-areas: "title" "img" "text";

            &__img{
                width: 100%;
                min-width: 250px;
                max-width: 320px;
            }

            &__title, &__text{
                margin: auto;
                text-align: center;
            }
        }
    }

    .InformationSection-right{
        .InformationSection__content{
            grid-template-areas: "title" "img" "text" !important;
        }
    }

}