@import '../../assets/css/colors.scss';

.header{
    width: 100%;
    height: 60px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper{
        width: 100%;
        max-width: 1200px;

        padding: 0 100px;
        box-sizing: border-box;
        transition: all .4s;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__items{
            &__link{
                text-decoration: none;
                color: $black;
                margin-left: 15px;
                transition: all .4s;
            }

            &__link:hover{
                color: $blue;
                letter-spacing: .5px;
            }
        }

        &__menu{
            display: none;
        }

    }

    
}

.header-down{
    width: 100%;
    height: 60px;
    background-color: $white;
    border-bottom: solid 1px $lightGray;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 2;

    display: none;

    animation-name: down;
    animation-duration: .5s;
    animation-iteration-count: initial;

    box-shadow: 0px 4px 4px rgba(207, 207, 207, 0.10);

    &__wrapper{
        width: 100%;
        max-width: 1200px;

        padding: 0 100px;
        box-sizing: border-box;
        transition: all .4s;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__items{
            &__link{
                text-decoration: none;
                color: $black;
                margin-left: 15px;
                transition: all .4s;
            }

            &__link:hover{
                color: $blue;
                letter-spacing: .5px;
            }
        }

        &__menu{
            display: none;
        }

    }

    
}

.show-header{
    display: flex !important;
}

.MenuResponsive{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    position: fixed;
    top: 0;
    z-index: 10;

    background: white;

    &__body{
        width: 80%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        padding: 40px;
        padding-top: 30px;
        box-sizing: border-box;

        &__nav{
            display: flex;
            flex-direction: column;

            a{
                color: $black;
                font-weight: bolder;
                font-size: 30px;
                margin-bottom: 15px;
                
                text-decoration: none;
                transition: all .4s;
            }

            a:hover{
                color: $blue;
                transform: translateX(10px);
            }
        }

        &__redes{
            &__items{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                margin-bottom: 20px;
            }

            &__data{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                a{
                    text-decoration: none;
                    margin-bottom: 5px;

                    color: $black;
                    font-weight: bolder;
                    font-size: 20px;
                    transition: all .4s;
                }

                a:hover{
                    color: $blue;
                    transform: translateX(10px);
                }
            }
        }

    }

    &__close{
        width: 20%;
        height: 100%;

        background: $blue;
        box-sizing: border-box;
        padding-top: 40px;

        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}


@media only screen and (max-width:850px){
    .header{
        &__wrapper{
            padding: 0 20px;
            &__items{
                display: none;
            }
            &__menu{
                display: flex;
            }
        }
    }

    .header-down{
        &__wrapper{
            padding: 0 20px;
            &__items{
                display: none;
            }
            &__menu{
                display: flex;
            }
        }
    }
}

@keyframes down {
    0% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
    }
}