@import '../../assets/css/colors.scss';

.InviertePresentation{
    width: 100%;
    min-height: 90vh;
    padding: 0 20px;
    padding-top: 65px;
    box-sizing: border-box;
    margin-bottom: 120px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__title{
        font-weight: bolder;
        color: $black;
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
    }

    &__text{
        color: $black;
        margin-bottom: 100px;
        max-width: 420px;
        text-align: center;
    }

    &__img{
        min-width: 200px;
        animation: bounce 2s ease-in-out infinite ;
        img{
            width: 100%;
        }
    }

    &__btn{
        width: 100%;
        min-width: 150px;
        max-width: 300px;
        height: 50px;
        background-color: $blue;
        
        display: flex;
        justify-content: center;
        align-items: center;

        color: $white;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: .5px;

        cursor: pointer;
        border: solid 2px $blue;
        border-radius: 10px;
        transition: all .4s;

        margin-top: 100px;

        
    }

    &__btn:hover{
        box-shadow: 0px 4px 4px rgba(73, 143, 235, 0.25);
        background-color: $white;
        border: solid 2px $blue;
        color: $blue;
        font-weight: bolder;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}